body {
    background-image: linear-gradient(#946069, #fff);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 12px;
    color: #3C2F32;
}

header {
    padding: 20px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3rem;
    line-height: 0px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 5px #946069;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#input_section {
    font-size: 1rem;
    font-weight: bold;
    padding: 20px;

    #travel_form > div {
        margin: 20px 0px 10px 0px;
    }

    input {
        max-width: 300px;
        width: 100%;
        border: 2px solid #3C2F32;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    div#submit_button {
        margin: 30px 0px;

        button {
        border: 2px solid #3C2F32;
        padding: 5px 20px;
        background-color: #E4D3D6;
        box-shadow: 0px 5px 5px #C4C4C4;
        }

        button:hover {
            background-color: #C9B4B8;
            box-shadow: none;
        }
    }
}

#output_section {
    #save_option {
        margin: 20px 0px;
    }

    #save_option > button {
        margin: 0px 10px;
        padding: 5px 20px;
        box-shadow: 0px 5px 5px #C4C4C4;
    }

    #save_option > button:hover {
        box-shadow: none;
    }

    #remove {
        border: 2px solid #3C2F32;
        background-color: #dcd6df;
    }

    #remove:hover {
        background-color: #B0ABAC;
    }

    #save {
        border: 2px solid #62585A;
        background-color: #E4D3D6;
    }

    #save:hover {
        background-color: #C9B4B8;
    }
}

#output_forecast {
    font-weight: bold;
    font-size: 1rem;
}

img {
    max-width: 480px;
    margin-top: 20px;
}

footer  {
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 100px;
}

@media (max-width: 600px) and (min-width: 401px) {
    img {
        max-width: 300px;
    }
}

@media (max-width: 400px) {
    img {
        max-width: 200px;
    }
}

@media (max-width: 450px) {
   
    h1 {
        font-size: 1.8rem;
    }

    section {
        margin-top: 0px;
    }

    #travel_form {
        font-size: 0.8rem;
        
        input {
            width: 150px;
        }
    }

}